{{!< default}}

<!--{{{data.pageSections.0.content.brief}}}
{{{data.pageSections.1.content.brief}}}-->


<header>
    <nav class="mobile_nav nav-up">
        <div class="mobile_nav__menu"></div>
        <div class="mobile_nav__links">
            <a href="#home_section" class="home">Home</a>
            <a href="#about_section" class="about">About</a>
            <a href="#experience_section" class="experience">Experience</a>
            <a href="#skills_section" class="skills">Other Skills</a>
            <a href="#samples_section" class="samples">Samples</a>
            <a href="#contact_section" class="contact">Contact</a>
        </div>
    </nav>
</header>

<div class="tablet_nav">
    <div class="table_nav_container">
        <a href="#home_section" class="home">Home</a>
        <a href="#about_section" class="about">About</a>
        <a href="#experience_section" class="experience">Experience</a>
        <a href="#skills_section" class="skills">Skills</a>
        <a href="#samples_section" class="samples">Samples</a>
        <a href="#contact_section" class="contact">Contact</a>
    </div>
</div>

<nav class="desktop_nav">
    <div class="desktop_nav__links">
        <ul>
            <li><span></span><a href="#home_section" class="home">Home</a></li>
            <li><span></span><a href="#about_section" class="about">About</a></li>
            <li><span></span><a href="#experience_section" class="experience">Experience</a></li>
            <li><span></span><a href="#skills_section" class="skills">Other Skills</a></li>
            <li><span></span><a href="#samples_section" class="samples">Samples</a></li>
            <li><span></span><a href="#contact_section" class="contact">Contact</a></li>
        </ul>
    </div>
</nav>

<section class="title">
    <!--<p class="page_title">Amy Foxworthy</p>
    <p class="page_title">Writer, Editor, and<br /> Content Creator</p>-->

    <p class="page_title">Amy Foxworthy</p>
    <p class="page_title">{{{data.pageSections.0.section.title}}}</p>
</section>

<img class="logo" src="img/logo.png" alt="Amy Foxworthy Writing, Editing, and Content Creation">

<section id="home_section">
    <section id="home" class="home_content content">
        {{{data.pageSections.0.section.content}}}
    </section>
</section>

<section id="about_section">
    <h2 class="section_title">{{{data.pageSections.1.section.title}}}</h2>
    <section id="about" class="about_content content">
        {{{data.pageSections.1.section.content}}}
    </section>
</section>

<section id="experience_section">
    <h2 class="section_title">{{{data.pageSections.2.section.title}}}</h2>
    <section id="experience" class="experience_content content">
        {{{data.pageSections.2.section.content}}}
    </section>
</section>

<section id="skills_section">
    <h2 class="section_title">{{{data.pageSections.3.section.title}}}</h2>
    <section id="skills" class="skills_content content">
        {{{data.pageSections.3.section.content}}}
    </section>
</section>

<section id="samples_section">
    <h2 class="section_title">Writing Samples
        <span class="disclaimer">** "Due to the sensitive and sometimes confidential nature of my past roles, I am unable to provide specific examples of some of my work" **</span>
    </h2>
    <section id="samples" class="samples_content content">
        <ul class="samples_content__list">
            <li class="samples_content__list-item">
                <div id="online" class="samples_content__title">{{{data.pageSections.4.section.title}}}</div>
            </li>

            <li class="sample_list internal">
                <p>These are links to formatted samples.</p>
                {{{data.pageSections.4.section.content}}}
                <span class="desktop-close-list">Close Internal Samples List</span>
            </li>

            <li class="samples_content__list-item">
                <div id="online" class="samples_content__title">{{{data.pageSections.5.section.title}}}</div>
            </li>

            <li class="sample_list">
                <p>These are links to external examples of work. They will open in a new window.</p>
                {{{data.pageSections.5.section.content}}}
                <span class="desktop-close-list">Close External Samples List</span>
            </li>

            <li class="samples_content__list-item">
                <div id="online" class="samples_content__title">{{{data.pageSections.6.section.title}}}</div>
            </li>

            <li class="sample_list">
                <p>These documents consist of files to download such as PDFs, Word Docs, etc.</p>
                {{{data.pageSections.6.section.content}}}
                <span class="desktop-close-list">Close Download List</span>
            </li>
        </ul>
        <div class="samples_content__close-list">
            <span class="samples_content__list-name"></span>
        </div>
    </section>
</section>

<section id="contact_section">
    <h2 class="section_title">{{{data.pageSections.7.section.title}}}</h2>
    <section id="contact" class="contact_content content">
        {{{data.pageSections.7.section.content}}}
    </section>
</section>

<section class="online-links__mobile">
    <div class="samples_content__sample">
        <section class="container">
            <section class="newsletter-header">
                <img class="newsletter-header-image" src="img/newsletter_header.jpg">
            </section>
            <p class="newsletter-title">Legislative Summer Study Committees Announced</p>
            <p>On Thursday the Legislative Council met to discuss topics for interim study committees this summer.
                <a href="http://library.constantcontact.com/download/get/file/1109130244637-120/2013+Summer+Study+Topics.pdf" target="_blank" class="newsletter-inline">This resolution</a> describes the specific
                topics that committees will study. There were two new subjects added that were not mandated or prescribed in statute: (1) ISTEP -this will
                be held in June and done quickly; (2) Common Core. It was noted that there was an unprecedented amount of topics suggested for study this
                year. Over 140 topics were suggested or mandated. Caucus leaders explained the process they used to prioritize these issues and emphasized
                that Committee Chairmen still have discretion to add topics. Speaker Bosma hinted that he would talk to his members about an "informal new
                rule" that in the future bills with summer study language in them would have to be discretionary not mandatory.
            </p>
            <p>Of the topics described in the <a href="http://library.constantcontact.com/download/get/file/1109130244637-120/2013+Summer+Study+Topics.pdf" class="newsletter-inline" target="_blank">resolution</a>,
                the only items of potential concern are the following, which will likely include broadband issues. </p>
            <ul class="newsletter-list-1">
                <li>IC 2-5-31.8-3, the interim study committee on economic development shall study the following in 2013:</li>
                <li>(1) Fostering entrepreneurship in rural areas of Indiana.</li>
                <li>(2) Attracting new businesses to rural areas of Indiana.</li>
                <li>(3) Attracting venture capital to rural areas of Indiana.</li>
                <li>(4) Expanding existing businesses in rural areas of Indiana.</li>
                <li>(5) Promoting gainful employment opportunities and workforce development in rural areas of Indiana.</li>
                <li>(b) The interim study committee on economic development shall submit its findings and recommendations, if any, on the topics
                    assigned under subsection (a) to the legislative council in an electronic format before November 1, 2013.</li>
                <li>(c) This SECTION expires January 1, 2013.</li>
            </ul>

            <p>Also, the "Ag Gag" language is in the Economic Development Committee's Section E- Trespassing for the purpose of
                harming a business, and making video images of a business with the intent to falsely portray the operations of a business.</p>
            <p>The Legislative Council also announced that the General Assembly would be meeting for a technical corrections day on June 12th and will be considering a veto override for
                HB1546.</p>
            <p>We will continue to keep you updated of any developments as they occur.</p>

            <section class="newsletter-subsection">
                <p> <img src="img/newsletter_thanks.jpg">
                            <span>Thank you to all of those who attended our Annual Meeting and Day at the Track!  We had a great time and hope that you did too.  If you attended the event and would like to provide feedback, comments, or suggestions, we would love to hear from you!  Please don't hesitate to
                                drop us a line.</span>
                </p>
            </section>
            <section class="newsletter-links">
                <h4>Industry News</h4>
                            <span>
                            <a href="http://multichannel.com/news/content/cable-dominant-force-across-tv-internet-social-mobile-screens-cab-study/358553">Cable is Dominant Force Among TV, Internet, Social Media, Mobile Screens: CAB Study</a>
                            <a href="http://www.fiercecable.com/story/comcast-running-free-wi-fi-promo-through-july-4/2013-05-22?utm_medium=nl&utm_source=internal&utm_source=INcable+Connection%3A+5-24-13&utm_campaign=ICTA&utm_medium=email">Comcast Running Fre Wi-Fi Promo Through July 4</a>
                            <a href="http://www.bna.com/supreme-court-ruling-n17179874139/?utm_source=INcable+Connection%3A+5-24-13&utm_campaign=ICTA&utm_medium=email">Supreme Court Ruling Could Help FCC In Legal Battles Over Net Neutrality </a>
                            <a href="http://www.mediapost.com/publications/article/200725/aereokiller-agrees-to-change-name.html#axzz2Tvj96ty3?utm_source=INcable+Connection%3A+5-24-13&utm_campaign=ICTA&utm_medium=email">Aerokiller Agrees to Change Name </a>
                            <a href="http://www.theverge.com/2013/5/20/4348042/mignon-clyburn-becomes-first-female-fcc-chair-today?utm_source=INcable+Connection%3A+5-24-13&utm_campaign=ICTA&utm_medium=email">Mignon Clyburn Becomes 1st Female FCC Chair; Although Tenure Brief </a>
                            </span>
            </section>
            <section class="newsletter-footer">
                <p>135 W. Market St., Ste 38, Indianapolis, IN 46204 * Ph: 317.237.2287 * Fx: 317.237.2290</p>
                <p>INcable.org</p>
            </section>
        </section>
    </div>
    <div class="samples_content__sample">
        <section class="container">
            <section class="newsletter-header">
                <img class="newsletter-header-image" src="img/newsletter_header.jpg">
            </section>
            <p class="newsletter-title">Legislative Spotlight: Senator Jim Merritt</p>
            <section class="newsletter-2">
                <img src="img/merrit.jpg" class="newsletter-merrit">
                Quick Stats:<br /><br />

                <span class="bold">Elected</span><br />
                Indiana State Senate 1990-present<br /><br />
                <span class="bold">Leadership</span><br />
                Majority Caucus Chair,<br />
                Utilities, Chair <br /><br />
                <span class="bold">Political Affiliation:</span><br />
                Republican<br /><br />
                <span class="bold">Standing Committees</span><br />
                Homeland Security, Transportation & Veterans Affairs,
                Transportation Subcommittee, Public Policy, Utilities, Chair,
                Rules & Legislative Procedures, Joint Rules<br /><br />

                Recently, Chairman Merritt was kind enough to answer some questions for our INCable Connection readers.<br /><br />

                <span class="bold">ICTA:</span>  What do you think the cable industry does especially well?<br />
                <span class="bold">Sen. Merritt:</span> The cable industry has invested millions of private dollars to bring high-speed Internet services to Hoosiers.  It has also helped boost economic development by providing thousands of jobs around the state and improved quality of life.<br /><br />

                <span class="bold">ICTA:</span>  What could we be doing better?<br />

                <span class="bold">Sen. Merritt:</span>  The cable industry can always continue to develop more products to aid our Hoosier businesses to be more competitive in a global marketplace. <br /><br />

                <span class="bold">ICTA:</span>  What cable-related issues most commonly arise in conversations you hear, or committee hearings, etc. (ex: cost, customer service, coverage, etc.)<br />

                <span class="bold">Sen. Merritt:</span>  I hear concerns about rising cable bills from my constituents, and I would urge the telecommunications companies to continue to explore as many cost-efficient options to consumers as they can.<br /><br />

                <span class="bold">ICTA:</span>  Do you foresee a lot of broadband and/or cable related issues coming to Reg Flex this summer?<br />

                <span class="bold">Sen. Merritt:</span>   That remains to be seen, but if so - minimal, at best.<br /><br />

                <span class="bold">Fun Facts about Senator Merritt:</span>

                <ul class="newsletter-2-list">
                    <li>Favorite TV show:  "Shark Tank"</li>
                    <li>What are you currently reading? The Presidents' Club, Gibbs & Duffey</li>
                    <li>Personal Hero:  Teddy Roosevelt and Ronald Reagan</li>
                    <li>What songs would be included in the soundtrack of your life?  "Pirate Looks at
                        40" by Jimmy Buffett, "Let the River Run" by Carly Simon, and "Cool Change" by The Little River Band</li>
                </ul>

                We'd like to thank Senator Merritt for his time and cooperation.  Please stay tuned for future editions!<br /><br />

            </section>

            <section class="newsletter-subsection">
                <h4>New Indiana Laws In Effect</h4>
                <p>
                    Usually, except for in emergency instances when bills take effect immediately upon passage, new laws take effect every July 1st.  Here is a brief summary of some of our new laws as of July 1.</p>


                <p><span class="bold">Healthcare:</span>  Pharmacists can now give additional vaccines besides flu shots; including tetanis, diptheria, pneumonia, acellular pertussis, HPV and meningitis vaccinations.  Also, now you no longer need a referral in order to see a physical therapist, and certified midwifery became legal.</p>
                <p><span class="bold">Law Enforcement & Courts:</span> Criminal record expungement for non-violent minor felonies and misdemeanors can now be requested after 5-8 years.  The minimum penalty for illegally parking in a spot marked for those with disabilities doubled from $50 to $100, and Indiana joins the Blue Alert System that will notify the public when a police officer is missing, injured or killed in the line of duty.</p>
                <p><span class="bold">Education:</span>  Teachers will receive training on how to spot signs of bullying and will be required to report instances to administrators and parents.  For-profit companies can now participate in college work-study programs; All participating employers must offer "resume-building" jobs and receive clearance from the Commission for Higher Education.  Also in new education laws, high schools are now required to test juniors at risk of failing their graduation exam or being prepared for basic college prep work; and finally, Students whose local public school is rated "F" by the state or have a sibling attending private school using a state voucher can obtain a voucher without first attending public school for a year, if income limits are met.</p>
                <p><span class="bold">Department of Child Services:</span>  The child protection agency will get an additional $35 million to hire more staffers for the state's child abuse hotline. Three new commissions designed to improve the department, including one dedicated to investigating suspicious child deaths, are to begin meeting. Prosecutors can now ask judges to intervene on behalf of an abused child if DCS chooses not to. </p>

                <p>If you are interested in viewing ALL of Indiana's new laws, you can do so here.</p>

            </section>
            <section class="newsletter-links">
                <h4>Industry News</h4>
                            <span>
                            <a href="http://multichannel.com/news/content/cable-dominant-force-across-tv-internet-social-mobile-screens-cab-study/358553">Cable is Dominant Force Among TV, Internet, Social Media, Mobile Screens: CAB Study</a>
                            <a href="http://www.fiercecable.com/story/comcast-running-free-wi-fi-promo-through-july-4/2013-05-22?utm_medium=nl&utm_source=internal&utm_source=INcable+Connection%3A+5-24-13&utm_campaign=ICTA&utm_medium=email">Comcast Running Fre Wi-Fi Promo Through July 4</a>
                            <a href="http://www.bna.com/supreme-court-ruling-n17179874139/?utm_source=INcable+Connection%3A+5-24-13&utm_campaign=ICTA&utm_medium=email">Supreme Court Ruling Could Help FCC In Legal Battles Over Net Neutrality </a>
                            <a href="http://www.mediapost.com/publications/article/200725/aereokiller-agrees-to-change-name.html#axzz2Tvj96ty3?utm_source=INcable+Connection%3A+5-24-13&utm_campaign=ICTA&utm_medium=email">Aerokiller Agrees to Change Name </a>
                            <a href="http://www.theverge.com/2013/5/20/4348042/mignon-clyburn-becomes-first-female-fcc-chair-today?utm_source=INcable+Connection%3A+5-24-13&utm_campaign=ICTA&utm_medium=email">Mignon Clyburn Becomes 1st Female FCC Chair; Although Tenure Brief </a>
                            </span>
            </section>
            <section class="newsletter-footer">
                <p>135 W. Market St., Ste 38, Indianapolis, IN 46204 * Ph: 317.237.2287 * Fx: 317.237.2290</p>
                <p>INcable.org</p>
            </section>
        </section>
    </div>
</section>
<div class="sample_content__sample_close">
    <span class="close-list">Close this sample</span>
</div>